<form
    action="/contacts/"
    method="get"
    hx-get="/contacts/"
    hx-target="hmix-outlet[name=layout]"
    hx-push-url="true"
>
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{ request.GET.q }}" />
    <input type="submit" value="Search" />
    <a
        href="/contacts/"
        hx-get="/contacts/"
        hx-push-url="true"
        hx-target="hmix-outlet[name=layout]"
    >Clear</a>
</form>

<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.first }}</td>
            <td>{{ contact.last }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.email }}</td>
            <td>
                <a
                    href="/contacts/{{ contact.id }}/edit"
                    hx-get="/contacts/{{ contact.id }}/edit"
                    hx-push-url="true"
                    hx-target="hmix-outlet[name=layout]"
                >Edit</a>
                <a
                    href="/contacts/{{ contact.id }}/"
                    hx-get="/contacts/{{ contact.id }}/"
                    hx-push-url="true"
                    hx-target="hmix-outlet[name=layout]"
                >View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    <a
        href="/contacts/new"
        hx-get="/contacts/new"
        hx-push-url="true"
        hx-target="hmix-outlet[name=layout]"
    >Add Contact</a>
</p>
